<a href="https://colab.research.google.com/github/ShahinurYeasmin/Python-Basic-Practice-Problems/blob/main/Loops%20Solutions%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Task 1 (a)
count = 24
while count>=-6:
  if count == -6:
     print(count,end="")
  else:
     print(count,end=",")
  count=count-6

In [ ]:
#Task 1 (b)
count = -10
while count<=20:
  if count == 20:
     print(count,end="")
  else:
     print(count,end=",")
  count=count+5

In [ ]:
#Task 1 (c)
count = 18
while count<=63:
  if count == 63:
     print(count,end="")
  else:
     print(count,end=",")
  count=count+9

In [ ]:
#Task 1 (d)
count = 18
while count<=63:
  if count%2==0:
     print(count,end=",")
  elif count==63:
     print(count*-1,end="")
  else:
     print(count*-1,end=",")
  count=count+9

18,-27,36,-45,54,-63

In [ ]:
#Task 2
car = input("Your favourite car: ")
time = int(input("How many times do you wanna print: "))

count = 1
while (count<=time):
  print(car)
  count=count+1

Your favourite car: blablabla
How many times do you wanna print: 5
blablabla
blablabla
blablabla
blablabla
blablabla

In [ ]:
#Task 2 (using for loop)

car = input("Your favourite car: ")
time = int(input("How many times do you wanna print: "))

for i in range(time):
  print(car)

Your favourite car: bmw
How many times do you wanna print: 5
bmw
bmw
bmw
bmw
bmw

In [ ]:
#Task 3
count=1
sum=0
while count<=600:
   if count%7==0 and count%9==0:
      sum=sum+count
   count=count+1
print(sum)

2835

In [ ]:
#Using for loop

sum=0

for count in range(0,601):
  if count%7==0 and count%9==0:
    sum=sum+count
print(sum)

2835

In [ ]:
#Task 4
count=1
sum=0
while count<=600:
   if count%7==0 and count%9==0:
      pass
   elif count%7==0 or count%9==0:
      sum=sum+count
   count=count+1
print(sum)

39814

In [ ]:
#Task 5
count = 10
while 10<=count<=50:
   if count%2!=0:
     print(count, end=" ")
   count=count+1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#Task 6

n=int(input())
y=0

for count in range(1,n+1,1):
  if count%2==0:
    y=y-(count**2)
  else:
    y=y+(count**2)
print(y)

5
15

In [ ]:
#Task 7
total=0
avg=0
kotobar=0


for i in range(0,10,1):
  num=int(input())
  if num%2!=0:
    kotobar=kotobar+1
    total=total+num
    avg=total/kotobar
print("The total of the odd numbers is" ,total, "and their average is",avg)

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#Task 8
n= int(input())
sum=0
for i in range(1,n+1):
  if i%7==0:
    sum=sum+i
print(sum)

50
196

In [ ]:
#Task 9
sum=0
for i in range(1,6,1):
  n=int(input("Enter your number: "))
  sum=sum+n
  print(sum)

Enter your number: 1
1
Enter your number: 2
3
Enter your number: 3
6
Enter your number: 4
10
Enter your number: 5
15

In [ ]:
#Task 10

num=int(input())

while num>0:
  digit=num%10
  print(digit)
  num=num//10

8762
2
6
7
8

In [ ]:
#Task 11

num=int(input())
kotobar=0

while num>0:
  num=num//10
  kotobar=kotobar+1
print(kotobar)

8645
4

In [ ]:
#task 12

num=int(input())
x=num
count=0
while x!=0:
  x=x//10
  count=count+1
total10=10**(count-1)
while num!=0:
  y=num//total10
  num=num%total10
  total10=total10//10
  if num==0:
    print(y,end="")
  else:
    print(y,end=",")

87246
8,7,2,4,6

In [ ]:
#Task 13

user=int(input())

divisor = 1
kotobar = 0

while divisor<=user:
  if user%divisor==0:
    kotobar=kotobar+1
    print(divisor)
  divisor=divisor+1
print("Total" , kotobar, "divisors.")

6
1
2
3
6
Total 4 divisors.

In [ ]:
#Using for loop
num=int(input())
count=0

for i in range(1,num+1):
  if num%i==0:
    print(i)
    count=count+1

print("Total" , count, "divisors.")

6
1
2
3
6
Total 4 divisors.

In [ ]:
#Task 14

user = int(input())

divisor = 1
sum = 0

while divisor<user:
  if user%divisor==0:
    sum=sum+divisor
  divisor=divisor+1
if sum==user:
  print(user, "is a perfect number.")
else: print(user,"is not a perfext number")

6
6 is a perfect number.

In [ ]:
#Task 15

kotobar=0
divisor=1

user=int(input())

while divisor<=user:
  if user%divisor==0:
    kotobar=kotobar+1
  divisor=divisor+1

if kotobar==2:
  print(user," is a prime number")
else: print( user, " is not a prime number")

11
11  is a prime number

In [ ]:
#Task 16

n=int(input("Quantity: "))
sum=0
max=int(-10000000000000000000000000000000)
min=int(1000000000000000000000000000000)

for i in range(n):
  num=int(input())
  sum=sum+num
  if num<min:
    min=num
  elif num>max:
    max=num

avg=sum/n

print("Maximum is:", max)
print("Minimum is: ", min)
print("Avarage is: ", avg)

Quantity: 5
4
10
-1
-100
1
Maximum is: 10
Minimum is:  -100
Avarage is:  -17.2

In [ ]:
#Task 17

n=int(input())

for i in range(n):
  for j in range(n):
    print("+",end="")
  print()

3
+++
+++
+++

In [ ]:
#Task 18

r=int(input())
c=int(input())

for i in range(r):
  for j in range(1,c+1):
    print(j,end="")
  print()

5
4
1234
1234
1234
1234
1234

In [ ]:
#Task 19
n=int(input())

for i in range(n+1):
    for j in range(1,i+1):
      print(j, end=" ")
    print()

5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#Task 25

n=int(input())
a=0
b=1
c=0

for i in range(n):
  print(c,end=" ")
  a=b
  b=c
  c=a+b

10
0 1 1 2 3 5 8 13 21 34

In [ ]:
#Task 26
user=int(input())
a_list=[]

while user>0:
  remainder=user%2
  a_list.append(remainder)
  user=user//2
print(a_list)

for count in range(len(a_list)-1,-1,-1):
  print(a_list[count],end="")

11
[1, 1, 0, 1]
1011

In [ ]:
#Task 27

user=int(input())
store=user
koyta=0
sum=0

while user>0:
  user=user//10
  koyta=koyta+1
print("total digits are",(koyta))

for count in range(koyta):
  remeinder=store%10
  sum=sum+(2**(count))*remeinder
  store=store//10
print(sum)

1010
total digits are 4
10

In [ ]:
#Task 28

fnum=int(input())
lnum=int(input())
print("Between",fnum,"and",lnum)
count=0
divisor=1
koyta=0

for num in range(fnum,lnum+1):
    if num%divisor==0:
      count=count+1
      if count==2:
        koyta=koyta+1
        print(num)

print("found",koyta,"prime numbers")

2
6
Between 2 and 6
3
found 1 prime numbers

In [ ]:
#Task 29

fnum=int(input())
snum=int(input())
div=int(input())

for count in range(fnum,snum+1,1):
  last=count%10
  first=count//10
  product=first*last
  if product%div==0:
    print(product)

25
30
4
12
16
0